.scrolling-wrapper {
  bottom: 0;
  left: 0;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 8px;
  position: absolute;
  right: 0;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
  min-height: calc(100vh - 40px);
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;

  .card {
    margin-right: 5px;
    margin-left: 15px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    width: 400px;
    position: relative;

    .container {
      background: white;
      padding: 20px;
      border-radius: 12px;

      position: relative;
      padding-bottom: 40px;

      .view-all {
        position: absolute;
        bottom: 0px;
        width: 100%;
        left: 0;
        text-align: right;
        color: purple;
        padding: 10px 20px;
      }
    }
  }
}
